.footer {
  padding: 60px 24px 30px;
  background: #c4c3d3;
  /* background-color: #2e3faf; */
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  color: #fff;
}

.logo-box-letter-v {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: linear-gradient(135deg, #7c3aed, #06b6d4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-subtitle {
  color: var(--text-primary);
  margin-top: 10px;
  font-size: 18px;
}
.footer-grid h4 {
  color: #111827 !important;
  font-weight: 800;
}

.footer-quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-quick-links a {
  color: var(--text-primary);
  text-decoration: underline;
}
.footer-services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-services p {
  color: var(--text-primary);
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contact a {
  color: #7c3aed;
  text-decoration: underline;
}
.footer-contact span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #334155;
}

.address-container {
  display: flex;
  flex-direction: column;
  padding: 28px;
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  background: #cfcee0;
}

.address-heading {
  font-size: 32px;
  margin-bottom: 10px;
  color: #1f2937;
}

@media (min-width: 600px) {
  .footer-services {
    font-size: 18px;
  }
  .footer-bottom {
    font-size: 16px;
  }
}
